*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
html,body{
    height: 100%;
    width: 100%;
    
}
html{
    scroll-behavior: smooth;
}
#main{
    height: 100vh;
    width: 100%;
    background-color: white;
    color: aliceblue;
    position: relative;
    
}
#nav{
    height: 80px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color:transparent;
    position: fixed;
    
}
 #text{
    display: flex;
    gap: 30px;
    font-size: 20px;
    margin-right: 200px;
    text-decoration: none;
    color: aqua;
}
#text a {
    text-decoration: none;
    color: white;
}

/* home page over here */
#home{
    height: 100vh;
    width: 100%;
    display: flex;
    overflow: hidden;
  
}
#home #img1{
    width: 40%;
    height:100vh;
}
#home #img2{
    height: 100vh;
    width: 70%;
    object-fit: cover;
}
#home #maintext{
    font-size: 30px;
    margin-top: 25%;
    margin-left: 19%;
    color: aliceblue;
    position: absolute;
    line-height: 0.6;
}
#home #maintext2{
    margin-top: 20px;
    padding: 10px;
    background-color: yellow;
    color: black;
}

/* about page over here  */

#about{
    height: 100vh;
    width: 100%;
    background-color: #dadada;
    display: flex;
    justify-content: space-between;
    color: black;
}
#box {
    height: 40%;
    width: 30%;
    background-color: black;
    position: relative;
    top: 30%;
    left: 40px;
}
#about img {
    position: absolute;
    left: 6%;
    height: 250px;
    margin-top: 250px;
    
}
#about #heading{
    line-height: .6;
    margin-top: 15%;
    margin-right: 40%;
}
#heading h1{
color: yellow;
text-decoration-line: underline; 
}

#blog{
    height: 100vh;
    width: 100%;
    background-color: black;
}
#contact{
    height: 100vh;
    width: 100%;
    background-color: black;
}
