*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
html,body{
    height: 100%;
    width: 100%;
    
}
html{
    scroll-behavior: smooth;
}
#loaderpage{
    height: 100vh;
    width: 100%;
    background-color:rgb(40, 39, 39);
    position: absolute;
    z-index: 9999999;
    display: flex;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
}
#loadtext{
    font-size: 3.4rem;
    
}
#main{
    height: 100vh;
    width: 100%;
    background-color: white;
    color: aliceblue;
    position: relative;
    
}
#nav{
    height: 80px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color:transparent;
    position: fixed;
    z-index: 999;
    
}
 #menu{
    display: flex;
    gap: 30px;
    font-size: 20px;
    margin-right: 200px;
    text-decoration: none;
    color: aqua;
}
#menu a {
    text-decoration: none;
    color: white;
}
#menu a:hover{
    border-bottom:4px solid  yellow;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}


/* home page over here */
#home{
    height: 100vh;
    width: 100%;
    display: flex;
    overflow: hidden;
  
}
#home #img1{
    width: 40%;
    height:100vh;
}
#home #img2{
    height: 100vh;
    width: 70%;
    object-fit: cover;
}
#home #maintext{
    font-size: 30px;
    margin-top: 25%;
    margin-left: 19%;
    color: aliceblue;
    position: absolute;
    line-height: 0.6;
}
#home #maintext2{
    margin-top: 20px;
    padding: 10px;
    background-color: yellow;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
#maintext h2{
    font-weight: 300;
}

/* about page over here  */

#about{
    height: 100vh;
    width: 100%;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    color: rgb(255, 253, 253);
    background-image: url("");
}
#box {
    height: 300px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.441);
    position: relative;
    top: 30%;
    left: 40px;
}

#box2{
    display: flex;
    align-items: end;
    height: 16px;
    width: 130px;
    background-color: yellow;
    /* position: relative; */
}
#about img {
    position: absolute;
    left: 6%;
    height: 300px;
    margin-top: 250px;
    /* border: 3px dotted yellow; */
    
}
#heading{
    /* margin-left: 30%; */
    width: 50%;
    padding-left: 80px;
    line-height: 2;
}
#about #heading{
    line-height: .8;
    margin-top: 15%;
    margin-right: 20%;
}
#heading h1{
color: rgb(1, 1, 1);
z-index: 999;
position: absolute;
}
#heading p{
    padding-top: 20px;
    line-height: 1.3;
    font-size: 18px;

}

/* blog section start over here */

#blog{
    height: 100vh;
    width: 100%;
    /* background-color: rgb(153, 150, 150); */
    background-color: rgba(0, 0, 0, 0.441) ;
    position: relative;
    z-index: 99;
}
#headingblog{
    /* background-color: red; */
    height: 80px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    padding: 60px;
    z-index: 99999;
    color: black;
    
  
}

#boxh{
    background-color: yellow;
    height: 15px;
    width: 80px;
    position: absolute;
    left: 49%;
    top: 60px;
    
}

#card{
   
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
 
}
#card1{
    height: 70vh;
    width: 30vw;
    background-color: rgb(255, 249, 249);
    text-align: center;
    line-height: 20px;
    color: black;
    font-size: 20px;
    border-radius: 20px;
    
}
#card1 img{
    height: 214px;
    object-fit: cover;
    padding-top: 12px;
    padding-left: 7px;    
}
#card1 a{
    line-height: 2;
    background-color: rgb(255, 255, 56);
    border-radius: 50px;
    padding: 8px;
    color: black;
    text-decoration: none;
    font-weight: 600;
}
#card1 h6{
    text-align: start;
    padding: 20px;
}
#card2{

    height: 70vh;
    width: 30vw;
    background-color: rgb(255, 249, 249);
    text-align: center;
    line-height: 20px;
    color: black;
    font-size: 20px;
    border-radius: 20px;
}

#card2 img{
    height: 214px;
    object-fit: cover;
    padding-top: 12px;
    padding-left: 7px;    
}
#card2 a{
    line-height: 2;
    background-color: rgb(255, 255, 56);
    border-radius: 50px;
    padding: 8px;
    color: black;
    text-decoration: none;
    font-weight: 600;
}
#card2 h6{
    text-align: start;
    padding: 20px;
}

#card3{
    height: 70vh;
    width: 30vw;
    background-color: rgb(255, 249, 249);
    text-align: center;
    line-height: 20px;
    color: black;
    font-size: 20px;
    border-radius: 20px;
}

#card3 img{
    height: 214px;
    object-fit: cover;
    padding-top: 12px;
    padding-left: 7px;    
}
#card3 a{
    line-height: 2;
    background-color: rgb(255, 255, 56);
    border-radius: 50px;
    padding: 8px;
    color: black;
    text-decoration: none;
    font-weight: 600;
}
#card3 h6{
    text-align: start;
    padding: 20px;
}


/* contact over here */
#contact{
    height: 100vh;
    width: 100%;
    color: #dadada;
    display: flex;
    align-items: center;
    gap: 20px;
    background-image: url(https://rb.gy/zukbp2);
}
#contact h2{
    text-align: start;
    color: white;
    font-size: 80px;
    padding-left: 8%;
    padding-top: 8%;
}
#rightpart{
    height: 60vh;
    width: 30%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    
}
#contact a{
    text-decoration: none;
    color: #dadada;
}
#uparrow{
    background-color: rgb(87, 86, 86);
    font-size: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 10px;
    
}
